.app {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

canvas {
  margin: 20px auto;
  display: block;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

button:disabled {
  background-color: #4e4e4e;
  cursor: not-allowed;
}

.winner {
  margin-top: 20px;
  font-size: 20px;
  color: #f5efef;
}

/* Limite la largeur sur les écrans étroits */
@media (max-width: 650px) {
  .app {
    width: 325px;
    max-width: 100%;
    margin: 0 auto;
  }

  canvas {
    width: 100%;
    height: auto;
    display: block;
  }
}
